
/* BASIC STRUCTURE */

.wrapper{
	display: grid;
	font-family: 'Open Sans';
}

.banner{
	height: 250px;
	width: 100%;
}

.navbar{
	width: 100%;
	z-index: 15;
}

.content-wrapper{
	padding: 2em;
	width: 85%;
	margin: auto;
	min-height: 800px;
	z-index: 10;
}

.footer{
	text-align: center;
	bottom: 0;
}

.grid-especialidades-medicos{
	display: grid;
	grid-template-columns: 70% 30%;
}

.grid-especialidades-medicos div{
	margin: 0;
}

.section-title{
	background: -webkit-linear-gradient(black, #5d49be);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

#table > tbody > tr > td:last-child{
	display: flex;
	text-align: center;
	height: 60px;
	align-items: center;
}

#table > thead > tr > th > div, #table > tbody > tr > td > div{
	transform: translate(7.5px, 2.5px);
}

#table > thead > tr > th:nth-child(1){
	width: 1%;
}

#loader{
	position: fixed;
	width: 100%;
	heigh: 100%;
	z-index: 50;
}

i{
	color: #4f3ea1;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
	boder-color: #4f3ea1;
}

#table{
	box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.25);
}

.table-options{
	display: flex;
}

body > div > div.content-wrapper > div > div{
	margin-left: auto;
}

img{
	width: 32px;
	heigh: 32px;
}

.form-container{
	padding: 3em;
	border: 1px solid lightgrey;
	border-radius: 5px;	
	background-color: white;
}

.round-circle-right{
	position: absolute;
	height: 120px;
	right: -60px;
	top: 400px;
	z-index: -1;
	width: 10%;
	border-radius: 8em;
	box-shadow: 15px 15px 15px 0px rgba(0,0,0,0.75);
	text-align: center;
	line-height: 120px;
	background-image: linear-gradient(to right, black, #5d49be);
}

.round-circle-left{
	position: absolute;
	height: 120px;
	left: -60px;
	top: 975px;
	z-index: -1;
	width: 10%;
	border-radius: 8em;
	text-align: center;
	line-height: 120px;
	box-shadow: 15px 15px 15px 0px rgba(0,0,0,0.75);
	background-image: linear-gradient(to left, black, #5d49be);
}

thead{
	background-image: linear-gradient(to right, black, #5d49be);
	width: 100%;
}

tbody{
	background-image: linear-gradient(to right, lightgrey, lightgrey);
	color: #5d49be;
}

td img{
	cursor: pointer;
}

/*------------------------------------*/

.bg {
	animation:slide 6s ease-in-out infinite alternate;
	background-image: linear-gradient(-60deg, darkslateblue 50%, black 50%);
	bottom:0;
	left:-50%;
	opacity:.5;
	position:absolute;
	right:-50%;
	top:0;
	z-index:-1;
	height:250px;
}

.bg2 {
	animation-direction:alternate-reverse;
	animation-duration:8s;
}

.bg3 {
	animation-duration:10s;
}

@keyframes slide {
	0% {
		transform:translateX(-25%);
	}
	100% {
		transform:translateX(25%);
	}
}

.content-banner {
	box-sizing:border-box;
	left:50%;
	padding:10vmin;
	position:absolute;
	text-align:center;
	top:125px;
	z-index: 1;
	color: white;
	font-size: 84px;
	font-weight: bold;
	font-family: 'Open Sans';
	text-decoration: none;
	transform:translate(-50%, -50%);
}

/*--------------------------------------*/

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, lightgrey 20%, white 80%);
}
.bgTop {
    z-index: -3;
    opacity: 0.5;
}
.bgMiddle {
    z-index: -4;
    opacity: 0.75;
}
.bgBottom {
    z-index: -5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}


