
/* BASIC STRUCTURE */

.wrapper{
	display: grid;
	font-family: 'Open Sans';
}

.banner{
	height: 300px;
	width: 100%;
}

.navbar{
	width: 100%;
	z-index: 10;
}

.content-wrapper{
	padding: 2em;
	width: 85%;
	margin: auto;
	min-height: 600px;
}

.footer{
	text-align: center;
	bottom: 0;
}

/* CSS */

.section-title{
	background: -webkit-linear-gradient(black, #5d49be);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

#table > tbody > tr > td:last-child{
	display: flex;
	text-align: center;
	height: 60px;
	align-items: center;
}

#loader{
	position: fixed;
	width: 100%;
	heigh: 100%;
	z-index: 50;
}

i{
	color: #4f3ea1;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
	boder-color: #4f3ea1;
}

/*#table > tbody > tr > td:last-child img{
	maring-right: 5px;
	margin-left: 5px;
}*/

.table-options{
	display: flex;
}

body > div > div.content-wrapper > div > div{
	margin-left: auto;
}

img{
	width: 32px;
	heigh: 32px;
}

.form-container{
	padding: 3em;
	border: 1px solid lightgrey;
	border-radius: 5px;	
}

.round-circle-right{
	position: absolute;
	height: 120px;
	right: -60px;
	top: 400px;
	z-index: -1;
	width: 10%;
	border-radius: 10em;
	text-align: center;
	line-height: 120px;
	background-image: linear-gradient(to right, black, #5d49be);
}

.round-circle-left{
	position: absolute;
	height: 120px;
	left: -60px;
	top: 750px;
	z-index: -1;
	width: 10%;
	border-radius: 10em;
	text-align: center;
	line-height: 120px;
	background-image: linear-gradient(to left, black, #5d49be);
}

thead{
	background-image: linear-gradient(to right, black, #5d49be);
	width: 100%;
}

tbody{
	background-image: linear-gradient(to right, lightgrey, lightgrey);
	color: #5d49be;
}

td img{
	cursor: pointer;
}
