
/* BASIC STRUCTURE */

.wrapper{
	display: grid;
	font-family: 'Open Sans';
}

.banner{
	height: 250px;
	width: 100%;
}

.navbar{
	width: 100%;
	z-index: 10;
}

.content-wrapper{
	padding: 2em;
	width: 85%;
	margin: auto;
	min-height: 600px;
}

.footer{
	text-align: center;
	bottom: 0;
}

.grid-especialidades-medicos{
	display: grid;
	grid-template-columns: 70% 30%;
}

.grid-especialidades-medicos div{
	margin: 0;
}

.section-title{
	background: -webkit-linear-gradient(black, #5d49be);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

#table > tbody > tr > td:last-child{
	display: flex;
	text-align: center;
	height: 60px;
	align-items: center;
}

#table > thead > tr > th > div, #table > tbody > tr > td > div{
	transform: translate(7.5px, 2.5px);
}

#table > thead > tr > th:nth-child(1){
	width: 1%;
}

#loader{
	position: fixed;
	width: 100%;
	heigh: 100%;
	z-index: 50;
}

i{
	color: #4f3ea1;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
	boder-color: #4f3ea1;
}

.table-options{
	display: flex;
}

body > div > div.content-wrapper > div > div{
	margin-left: auto;
}

img{
	width: 32px;
	heigh: 32px;
}

.form-container{
	padding: 3em;
	border: 1px solid lightgrey;
	border-radius: 5px;	
}

.round-circle-right{
	position: absolute;
	height: 120px;
	right: -60px;
	top: 400px;
	z-index: -1;
	width: 10%;
	border-radius: 10em;
	text-align: center;
	line-height: 120px;
	background-image: linear-gradient(to right, black, #5d49be);
}

.round-circle-left{
	position: absolute;
	height: 120px;
	left: -60px;
	top: 750px;
	z-index: -1;
	width: 10%;
	border-radius: 10em;
	text-align: center;
	line-height: 120px;
	background-image: linear-gradient(to left, black, #5d49be);
}

thead{
	background-image: linear-gradient(to right, black, #5d49be);
	width: 100%;
}

tbody{
	background-image: linear-gradient(to right, lightgrey, lightgrey);
	color: #5d49be;
}

td img{
	cursor: pointer;
}

/*------------------------------------*/

.bg {
	animation:slide 4s ease-in-out infinite alternate;
	background-image: linear-gradient(-60deg, darkslateblue 50%, black 50%);
	bottom:0;
	left:-50%;
	opacity:.5;
	position:absolute;
	right:-50%;
	top:0;
	z-index:-1;
	height:250px;
}

.bg2 {
	animation-direction:alternate-reverse;
	animation-duration:6s;
}

.bg3 {
	animation-duration:8s;
}

@keyframes slide {
	0% {
		transform:translateX(-25%);
	}
	100% {
		transform:translateX(25%);
	}
}

.content-banner {
	box-sizing:border-box;
	left:50%;
	padding:10vmin;
	position:absolute;
	text-align:center;
	top:125px;
	color: white;
	font-size: 84px;
	font-weight: italic;
	font-family: 'Open Sans';
	text-decoration: none;
	transform:translate(-50%, -50%);
}


